<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375943648459-qgb1cvb87e65gjpq2qki4iqp5ufpsto8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375943648459-qgb1cvb87e65gjpq2qki4iqp5ufpsto8</string>
	<key>API_KEY</key>
	<string>AIzaSyCpqt96rYB7JqHDYMNt-gtAAnqqCQrANGc</string>
	<key>GCM_SENDER_ID</key>
	<string>375943648459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uidisign05</string>
	<key>PROJECT_ID</key>
	<string>pharmax-5e8c2</string>
	<key>STORAGE_BUCKET</key>
	<string>pharmax-5e8c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375943648459:ios:a67e031f17db4b4a92374e</string>
</dict>
</plist>